__pycache__/
.ipynb_checkpoints/
.venv/
.env

*.pyc
.DS_Store

data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep

outputs/figures/*
!outputs/figures/.gitkeep

outputs/tables/*
!outputs/tables/.gitkeep


